#install into  ~/.config/systemd/user/zaykax.service
#sudo loginctl enable-linger moin
#ssh moin@yourserver.com
#systemctl --user enable zaykax

[Unit]
AssertPathExists=/home/telegrambot/bots/quotebot

[Service]
WorkingDirectory=/home/telegrambot/bots/quotebot
Environment=LC_ALL=en_US.UTF-8
ExecStart=/usr/bin/env python3 bot.py -c config/zaykax.ini
Restart=always
PrivateTmp=true
NoNewPrivileges=true
#User=telegrambot
#Group=telegrambot
StandardOutput=journal

[Install]
WantedBy=default.target


