#install into  ~/.config/systemd/user/zaykax.service
[Unit]
AssertPathExists=/home/telegrambot/bots/quotebot

[Service]
WorkingDirectory=/home/telegrambot/bots/quotebot
Environment=LC_ALL=C.UTF-8
ExecStart=/usr/bin/env python3 bot.py -c config/zaykax.ini
Restart=always
PrivateTmp=true
NoNewPrivileges=true
User=telegrambot
Group=telegrambot

[Install]
WantedBy=default.target


